.forgetpage3 .header {
  background-color: #fff;
}

.forgetpage3 {
  position: relative;
}

.left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
}
