.faqpage .header {
  background-color: #fff;
}

.faq-top {
  margin: 56px 0 48px;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}

.faq-d {
  margin: 0;
  padding: 29px;
}

@media (max-width: 375px) {
  .faq-top {
    margin: 46px 0 38px;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    color: #000000;
  }
}
