.registerpage2 .header {
  background-color: #fff;
}

.registerpage2 {
  position: relative;
}

.left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
}
