.works .header {
  background-color: white;
}

.work-top {
  margin: 56px 0 40px;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}

.work-text {
  margin: 0 0 56px 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
}

.work-box {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boxs {
  text-align: center;
}

.texts {
  text-align: center;
}

.box-top {
  margin: 0 auto;
  padding: 0;
  width: 290px;
  text-align: center;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #182f43;
}

.box-text {
  margin: 0;
  margin-top: 16px;
  padding: 0;
  width: 350px;
  text-align: center;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #182f43;
}

.next-top {
  margin: 110px 0 36px;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}

.next-text {
  margin: 0 auto;
  margin-bottom: 32px;
  padding: 0;
  width: 704px;
  text-align: center;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
}

.havolalar {
  margin-bottom: 110px;
}

@media (max-width: 375px) {
  .work-top {
    margin: 38px 0 16px;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    color: #000000;
  }

  .work-text {
    margin: 0 0 32px 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
  }

  .work-box {
    display: block;
  }

  .box-top {
    margin: 0 auto;
    padding: 0;
    width: 290px;
    text-align: center;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color: #000000;
  }

  .box-text {
    margin: 0;
    margin-top: 12px;
    margin-bottom: 32px;
    padding: 0;
    width: 350px;
    text-align: center;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #182f43;
  }

  .next-top {
    margin: 60px 0 26px;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color: #000000;
  }

  .next-text {
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 0;
    width: 345px;
    text-align: center;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
  }

  .havolalar {
    width: 345px;
    height: 229px;
    margin-bottom: 30px;
  }
}
