.footer {
  /* background: linear-gradient(180deg, #673ab7 0%, #512da8 100%); */
  /* transform: rotate(-90deg); */
  background-color: #ffffff;
  background: url(../../assets/image/footer.png);
  padding: 60px 0;
}

.link-box {
  text-align: center;
}

.footer-link {
  display: inline-block;
  text-decoration: none;
  margin: 0;
  padding: 12px 19px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  background: #fff;
  border: 2px solid #673ab7;
  border-radius: 8px;
}

.footer-link:hover {
  background: #673ab7;
  color: #fff;
  border: 2px solid #fff;
}

.footer-top {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
}

.footer-text {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.text-one {
  margin: 24px 0 40px;
}

.text-two {
  margin: 24px 0 32px;
}

.text-three {
  margin: 48px 0 0 0;
}

.footer-links {
  width: 630px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.links {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

@media (max-width: 375px) {
  .footer {
    /* background: linear-gradient(180deg, #673ab7 0%, #512da8 100%); */
    /* transform: rotate(-90deg); */
    background-color: #ffffff;
    background: url(../../assets/image/footer2.png);
    padding: 60px 0 0 0;
  }

  .footer-top {
    margin: 0 0 84px 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 799;
    font-size: 32px;
    line-height: 40px;
    color: #ffffff;
  }

  .footer-text {
    display: none;
  }

  .text-two {
    margin: 16px 0 32px 0;
    padding: 0;
    display: block;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
  }

  .text-three {
    display: block;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
  }

  .footer-links {
    flex-direction: column;
    width: 300px;
  }

  .footer-link {
    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: 12px 24px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    background: #fff;
    border: 2px solid #673ab7;
    border-radius: 8px;
  }

  .links {
    margin: 0 0 16px 0;
    text-align: center;
    padding: 0;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
  }
}
