.forget-p2 {
  margin: 16px 0 24px;
  padding: 0;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.forget-input2 {
  border: none;
  outline: none;
  width: 76px;
  margin: 0 auto;
}
